body {
    margin: 0;
    background-color: rgb(34, 32, 32);
    font-family: "Roboto", sans-serif;
}

#overlay {
  position: absolute;
  inset: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#overlay.remove {
  display: none;
}

#overlay button {
    padding: 2rem;
    font-size: 3rem;
}

.choice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: min(600px, 85vw);
    /* background-color: #fff; */
    padding: 1rem;
    gap: 1rem;
}

.title {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    margin: 0;
    color: #fff;
}

.footer {
    height: 10vh;
}

.container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(34, 32, 32); */
    /* overflow: hidden; */
}

.outer-card {
    position: relative;
    padding: 0.75rem 0.75rem 2rem 0.75rem ;
    background-color: rgb(30, 28, 28);
    border-radius: 10px;
}

.outer-card::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 102%;
    width: 101.5%;
    background-image: linear-gradient(
        to bottom right, #5c2581 0%, #3944c0 100%);
    border-radius: 12px;
    border: none;
    box-shadow: 40px 0 100px rgba(57, 68, 192,0.8),
    -40px 0 100px rgba(92, 37, 129, 0.8);
    z-index: -1;
}

.card {
    position: relative;
    min-height: max(34vh, 360px);
    height: auto;
    width: 79vw;
    max-width: 600px;
    background-color: rgb(30, 28, 28);
    padding: 0.75rem 0.75rem 1.5rem 0.75rem;
    border: 2px solid #5c2581;
    border-radius: 15px;
}

.card.flash {
    border: 2px solid #e018b5;
}

.card h2 {
    text-align: center;
    color: #fff;
}

.button-container {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    padding: 0 0.5rem;
    display: flex;
    /* gap: 0.75rem; */
    background-color: rgb(30, 28, 28);
}

.button-container button {
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 90px;
    color: #5c2581;
    background-color: #FAFAFF;
    border: 2px solid #5c2581;
    border-radius: 5px;
}

#nxt.flash {
    border: 1px solid #e018b5ab;
    color: #e018b5;
}

#nxt:disabled {
    cursor: not-allowed;
    background-color: #fafaff33;
}

#nxt:not(:disabled) {
    cursor: pointer;
}

.prv-wrap {
    width: 100px;  /* button width */
    overflow: hidden;
    transition: width 0.5s ease;
    transform: 1s ease;

}

.prv-wrap.hidden {
    width: 0;
}

#prv {
    transition: opacity 1s ease,
    transform 2s ease;
}

#prv:disabled {
    opacity: 0;
    transform: translateY(40px);
}

#prv:not(:disabled) {
    opacity: 1;
    transform: translateY(0px);
}

ol {
    /* width: fit-content; */
    padding-left: 0;
    margin: 0 auto;
}

.options {
    list-style-type: none;
    min-height: 65px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-image: linear-gradient(
        180deg,
        rgb(236, 198, 254) 0%,
        rgb(135, 77, 164) 50%,
        rgb(73, 24, 96) 100%
    );
    box-shadow: 
    inset 3px 0 1px rgba(0,0,0,0.1),
    inset -3px 0 1px rgba(0,0,0,0.1),
    inset 0 2px 1px rgb(248, 243, 253),
    inset 0 -2px 1px rgb(209, 160, 255);

    backdrop-filter: blur(20px);
}


.options label {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 60px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.options label span {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
    font-size: 1rem;
    text-shadow: 4px 0 10px #fff;
}

.options input[type="radio"] {
    flex-shrink: 0;
    margin-left: 1rem;
    accent-color: #e018b5;
}


.options:has(input[type="radio"]:checked) {
    background-image: linear-gradient(
        to top,
        rgba(236, 198, 254, 0.5) 0%,
        rgba(135, 77, 164, 0.5) 50%,
        rgba(73, 24, 96, 0.5) 100%
    );
    box-shadow: 
    inset 3px 0 1px rgba(0,0,0,0.1),
    inset -3px 0 1px rgba(0,0,0,0.1),
    inset 0 -2px 1px rgb(248, 243, 253),
    inset 0 2px 1px rgb(209, 160, 255);

    backdrop-filter: blur(20px);
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
} 

table {
    width: 90%;
    font-size: clamp(0.75rem, 0.623rem + 0.64vw, 1.1rem);
}
/* 
.hidden {
    display: none !important;
} */